.button {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.primary {
  background-color: #ff9933;
  color: white;
}

.primary:hover {
  background-color: #ffc58b;
}

.secondary {
  background-color: #dbdbdb;
  color: black;
}

.secondary:hover {
  background-color: #e9e9e9;
}
