.headerGroup {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: solid 5px rgb(43, 43, 43);
  background-color: rgb(43, 43, 43);
  color: white;
}

.headerGroup h2 {
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(255, 185, 56);
}

.headerButtonGroup {
  display: flex;
  gap: 1rem;
}
