.resultMovieGroupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultMovieGroupContent > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
